/* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "compass/typography/vertical_rhythm";

@import "breakpoint";

@import "normalize";
@import "compass";
@import "susy";

$susy: (
    global-box-sizing: border-box,
    use-custom: (rem: true )
);

@include border-box-sizing;

.container {
    @include container(100%);
    @include clearfix; 
}
.header {
    
}
.nav {
    @include breakpoint(800px) {
        @include span(3 of 12);
    }
}
.content {
    @include breakpoint(800px) {
        @include span(12 of 12);
    }
}
.footer {
    @clearfix;
}